[build]
  command = "npm install && npm start"
  publish = "public"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/dashboard.html"
  status = 200
