[build]
  publish = "public"
  functions = "netlify/functions"
  command = "npm install"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[scheduledFunctions]]
  from = "netlify/functions/post-all"
  to = "*/5 * * * *"
